<a href="https://colab.research.google.com/github/ibraheem-02/Python_Programs/blob/main/Assignment01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Section A: Basics & Expressions**
1.Swapping two Numbers without using third variable.

In [ ]:
N1 =  int (input("Enter first No:"))
N2 =  int (input("Enter Second No:"))
print("Values befor Swapping:")
print("N1 = ",N1 , ", N2 = ",N2)
N1 = N1 + N2
N2 = N1 - N2
N1 = N1 - N2
print("Values after Swapping:")
print("N1 = ",N1 , ", N2 = ",N2)

In [ ]:
# without taking in putfrom user
N1 = 5
N2 = 10

N1 = N1 + N2
N2 = N1 - N2
N1 = N1 - N2
print("Values after Swapping:")
print("N1 = ",N1 , ", N2 = ",N2)

Values after Swapping:
N1 =  10 , N2 =  5

2.Convert Seconds into hours,minutes and seconds(366 => 1 hour,1 minute,1 second)

In [ ]:
n = int(input("Enter time in seconds"))
hours = n // 3600
minutes = (n % 3600) // 60
seconds = (n % 3600) % 60
print(hours,"Hour",":",minutes,"Minute",":",seconds,"Seconds")

Enter time in seconds3661
1 Hour : 1 Minute : 1 Seconds

3.Ask user for age in years,convert it into month and print result

In [ ]:
age = int(input("Enter age in years: "))
print(age*12,"Months")

Enter age in years: 21
252 Months

# **Section B: Conditions & Decisions ** **bold text**
4.Take a number as input and check weather it is divisible by both 3 and 5.

In [ ]:
Num = int(input("Enter a number"))
if Num % 3 == 0 and Num % 5 == 0:
  print("Number is divisible by both 3 and 5")
else:
  print("Number is not divisible by both 3 and 5")

Enter a number34
Number is not divisible by both 3 and 5

5.write a program that ask a user to input a year and check weather it is a leap year or not.

In [ ]:
year =int(input("Enter a year"))
if (year % 400 == 0) and (year % 100 == 0):# This line checks if the `year` is perfectly divisible by both 400 and 100 using the modulo operator (`%`). If **True**, it means the `year` is a leap year and prints a message accordingly.
  print(year," is a leap year")
elif (year % 4 == 0) and (year % 100 != 0):# If the first condition is **False**, this line checks if the `year` is divisible by 4 but not by 100. If **True**, it's a leap year and prints a message.
  print(year," is a leap year")
else:
  print(year,"is not a leap year")

Enter a year2000
2000  is a leap year

6. Ask the user to enter a username. If it matches "admin", print "Access granted", otherwise "Access denied".

In [ ]:
username = input("Enter username: ")
if username == "admin":
  print("Access granted")
else:
  print("Access denied")

Enter username: admin
Access granted

7. Check if a given chracter is vowel or consonent

In [ ]:
char = input("Enter a character: ")
if char == "a" or char == "e" or char == "i" or char == "o" or char == "u":
  print(char,"is a vowel")
elif char == "A" or char == "E" or char == "I" or char == "O" or char == "U":
    print(char,"is a vowel")
else:
  print(char,"is a consonent")

Enter a character: A
A is a vowel

8. Write a program that takes four numbers as input and print the smallest one.

In [ ]:
n1 = int(input("Enter 1st number: "))
n2 = int(input("Enter 2nd number: "))
n3 = int(input("Enter 3rd number: "))
n4 = int(input("Enter 4th number: "))
if (n1 < n2 and n1 < n3 and n1 < n4):
  print(n1,"is the smallest number")
elif(n2 < n1 and n2 < n3 and n2 < n4):
    print(n2,"is the smallest number")
elif(n3 < n1 and n3 < n2 and n3 < n4):
      print(n3,"is the smallest number")
else:
    print(n4,"is the smallest number")

Enter 1st number: 4
Enter 2nd number: 6
Enter 3rd number: 9
Enter 4th number: 11
4 is the smallest number

9. Take temperature (in Celsius) from user and:
If it’s >40, print “Too Hot”
If it’s between 20–40, print “Pleasant”
If it’s below 20, print “Too Cold”

In [ ]:
tem = float(input("Enter temperature in Celsius: "))
if (tem > 40):
  print("Too Hot")
elif (tem >= 20 and tem <= 40): #between 20 to 40
  print("Pleasant")
elif (tem < 20):
  print("Too Cold")
else:
  print("Invalid input")

Enter temperature in Celsius: 40
Pleasant

# **Section C:Loops(for,while)**
10. Print all numbers from 1 to 100 that are divisible by 7 in one line.

In [ ]:
for i in range(1,100):
  if (i % 7 == 0):
    print(i,end = " ")

7 14 21 28 35 42 49 56 63 70 77 84 91 98

11. Write a program that prints all prime numbers between 1 and 50.

In [ ]:
for i in range(1,51):
  if i > 1: #skips i = 1 since 1 is not a prime number
    for j in range(2,i):
      if (i % j == 0 ):
        break
    else:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

12. Take a number n and print its digits in reverse using a while loop.

In [ ]:
n = int(input("Enter a number: "))
while n > 0:
  digit = n % 10
  print(digit,end = "")
  n = n // 10

Enter a number: 17
71

13. Sum of All Even Numbers Between 1 and 50 (Using a For Loop).

In [ ]:
sum = 1
for i in range(1,51):
  if (i % 2 == 0):
    sum = sum + i
print("Sum is :",sum)

Sum is : 651

14. Create a program that keeps asking the user for a password until the correct one is entered ("Python123"). Use a loop.

In [ ]:
password = "Python123"
while True:
  input_password = input("Enter password: ")
  if (input_password == password):
    print("Access granted")
    break
  else:
    print("Access denied")

Enter password: python12
Access denied
Enter password: Python123
Access granted

15. Write a program that takes an integer as input and compute the factorial of a given number using a for loop.

In [ ]:
num = int(input("Enter a number: "))
fact = 1
if (num < 0):
  print("Factorial does not exist")
elif (num == 0):
  print("Factorial of ",num, " is 1")
else:
  for i in range(1,num + 1):
    fact = fact * i
  print("Factorial is :",fact)

Enter a number: 5
Factorial is : 120

16. Write a program that print Fibonacci sequence:
1,1,2,3,5,8,13,21,34,55,89.

In [ ]:
a = 1
b = 1
print(a,b,end = " ")
while True:
  c = a + b
  if c > 89:
    break
  print(c,end = " ")
  a = b
  b = c

1 1 2 3 5 8 13 21 34 55 89

# **Section D:Strings.**
17. Check if a given string is a palindrome (e.g., madam or level).

In [ ]:
str = input("Enter a string: ")
if (str == str[::-1]): #string slicing
  print(str,"is a palindrome")
else:
  print(str,"is not a palindrome")

Enter a string: leval
leval is not a palindrome

18. Take a sentence from the user and count how many words it contains.

In [ ]:
sentence = input("Enter a sentence: ")
print("Number of words in sentence are: ",len(sentence))

Enter a sentence: I am Muhammad Ibrahim currently enrolled in IMCS at University of sindh
Number of words in sentence are:  71

19. Ask the user to enter their email and check if it ends with @gmail.com.

In [ ]:
email = input("Enter your email: ")
if (email.endswith("@gmail.com")):
  print("Email is valid")
else:
  print("Email is invalid")

Enter your email: mibrahimkhalid306@gmail.com
Email is valid

20. From a sentence, remove all vowels and print the result.

In [ ]:
sentence = input("Enter a sentence: ")
vowels = "aeiou" and "AEIOU"
for i in vowels:
  sentence = sentence.replace(i,"")
print(sentence)

Enter a sentence: IBRAHIM
BRHM

21. Ask the user for a string and a letter, then count how many times that letter appears.

In [ ]:
str = input("Enter a string: ")
letter = input("Enter a letter: ")
count = 0
for i in str:
  if (i == letter):
    count = count + 1
print("Number of times",letter,"appears in",str,"is",count)

Enter a string: Ibrahim
Enter a letter: i
Number of times i appears in Ibrahim is 1

# **Section E: List Tuples and Functions.**

22. Create a tuple of 5 cities and use a loop to print each one.

In [ ]:
cities = ("Krachi", "Shahdadpur" ,"Hyderbad","Sanghar","Jamshoro")
for i in cities:
  print(i)

Krachi
Shahdadpur
Hyderbad
Sanghar
Jamshoro

23. Ask the user to enter 5 numbers and store them in a list. Then:
Sort the list
Print the max and min
Find the average

In [ ]:
Number = []
for i in range(1,6):
  print("Enter Number ",i ," = ",end = '')
  num = int(input())
  Number.append(num)
# Sort operation
Number.sort()
print("Sorted list is = ",Number)

# min number
print("Min number is = ",Number[0])

# max number
print("Max number is = ",Number[5-1])

# Caculate average
total = 0
for num in Number:
   total += int(num) #add each num to total and covert str to integer
print("Average is: ",total/len(Number))

24. Write a python program that must define 4 functions add, subtract,
multiply, divide. The program will work as below:
Take two integer inputs
Show the following menu:
1 Addition
2 Subtraction
3 Multiplication
4 Division
5 Exit
What do you want to do?
Now ask user’s choice from 1-5 and call the appropriate
function and print the result.
Repeat the entire process until user choose option 5 for Exit

In [ ]:
def add(a, b):
    return a + b

def subtract(a, b):
    return a - b

def multiply(a, b):
    return a * b

def divide(a, b):
    if b == 0:
        return "Error: Cannot divide by zero!"
    return a / b

while True:
    num1 = int(input("Enter first number: "))
    num2 = int(input("Enter second number: "))

    # show menue
    print("1. Addition")
    print("2. Subtraction")
    print("3. Multiplication")
    print("4. Division")
    print("5. Exit")

    choice = int(input("What do you want to do? "))
    # call function based on choice
    if choice == 1:
        print("Result: ", add(num1, num2))
    elif choice == 2:
            print("Result: ", subtract(num1, num2))
    elif choice == 3:
        print("Result: ", multiply(num1, num2))
    elif choice == 4:
        print("Result: ", divide(num1, num2))

    elif choice == 5:
        print("Exiting the program.")
        break
    else:
        print("Invalid choice. Please select a valid option.")

Enter first number: 4
Enter second number: 5
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exit
What do you want to do? 1
Result:  9
Enter first number: 6
Enter second number: 4
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exit
What do you want to do? 6
Invalid choice. Please select a valid option.
Enter first number: 5
Enter second number: 3
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exit
What do you want to do? 2
Result:  2
Enter first number: 3
Enter second number: 4
1. Addition
2. Subtraction
3. Multiplication
4. Division
5. Exit
What do you want to do? 5
Exiting the program.

25. Write a program that takes a number and a character from user and produce output as below:
Enter the number of lines of triangle: 6
And a character: *
Note: To print every line, you must define a function line(no, ch). For example, line(7,'*') should print *******, similarly line (2,'*') should print **.

In [ ]:
def line(no, ch):
    print(ch * no)

n = int(input("Enter the number of lines of triangle: "))
ch = input("Enter a character: ")

for i in range(1, n + 1):
    line(i, ch)

Enter the number of lines of triangle: 6
Enter a character: *
*
**
***
****
*****
******