<a href="https://colab.research.google.com/github/ibraheem-02/Python_Programs/blob/main/Range%26ForLoop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

print table using range
Range
syntax range (start, end , step)

In [17]:
n = int(input("Enter a number: "))
for el in range (1,11):
  print (n, "*", el, "=", n*el)

Enter a number: 3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

print squar of first 7 numbers using range

In [16]:
from os import execl
for el in range (1,8):
  # print (el*el)
  print (execl

1
4
9
16
25
36
49

In [25]:
for el in range (1,10,2):
  print (el*el,end = " ")

1 9 25 49 81

In [23]:
L = [1, 2, 3, 4, 5]

for el in L:
    # print (el)
# display out put in single line
     print (el, end = " ") #space
    # print (el, end = "") #no space
    # print (el, end = ",") #comma

1 2 3 4 5

Odd Number from list

In [9]:
L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

for el in L:
    if el % 2 != 0:
        print (el)

1
3
5
7
9

In [15]:
L = [1, 3, 5,  7, 9,]
for el in L:
    print (el)
else:
  print("Loop ended here")

1
3
5
7
9
Loop ended here